In [1]:
#import dependencies
import pandas as pd
import time
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
#import selenium import webdriver

In [2]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "/desktop/chromedriver"}
    return Browser("chrome", **executable_path, headless=False)

In [4]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [5]:
# Define database and collection
db = client.mars_db
collection = db.articles

In [6]:
# URL of page to be scraped
nasa_url = 'https://mars.nasa.gov/news/'
jpl_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
twitter_url = 'https://twitter.com/marswxreport?lang=en'
# Retrieve page with the requests module
response = requests.get(nasa_url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')
#print(soup)

In [7]:
news_title = soup.find_all("div",class_="content_title")
print(news_title)

[<div class="content_title">
<a href="/news/8402/nasas-insight-places-first-instrument-on-mars/">
NASA's InSight Places First Instrument on Mars
</a>
</div>, <div class="content_title">
<a href="/news/8387/nasa-announces-landing-site-for-mars-2020-rover/">
NASA Announces Landing Site for Mars 2020 Rover
</a>
</div>, <div class="content_title">
<a href="/news/8348/opportunity-hunkers-down-during-dust-storm/">
Opportunity Hunkers Down During Dust Storm
</a>
</div>, <div class="content_title">
<a href="/news/8347/nasa-finds-ancient-organic-material-mysterious-methane-on-mars/">
NASA Finds Ancient Organic Material, Mysterious Methane on Mars
</a>
</div>, <div class="content_title">
<a href="/news/8326/nasa-invests-in-visionary-technology/">
NASA Invests in Visionary Technology
</a>
</div>, <div class="content_title">
<a href="/news/8325/nasa-is-ready-to-study-the-heart-of-mars/">
NASA is Ready to Study the Heart of Mars
</a>
</div>]

In [8]:
news_p = soup.find_all("div", class_="rollover_description_inner")
print(news_p)
#p = news_p.get_text()
#print(p)

[<div class="rollover_description_inner">
In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.
</div>, <div class="rollover_description_inner">
After a five-year search, NASA has chosen Jezero Crater as the landing site for its upcoming Mars 2020 rover mission.
</div>, <div class="rollover_description_inner">
It's the beginning of the end for the planet-encircling dust storm on Mars. But it could still be weeks, or even months, before skies are clear enough for NASA's Opportunity rover to recharge its batteries and phone home.
</div>, <div class="rollover_description_inner">
NASA’s Curiosity rover has found evidence on Mars with implications for NASA’s search for life.
</div>, <div class="rollover_description_inner">
NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.
</div>, <div class="rollover_description_inner">
NASA is about to go on a journey to study the center of Mars.
</div>]

In [9]:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17832_hires.jpg'
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17832_hires.jpg

In [10]:
#tweets = mars_weather_soup.find('ol', class_='stream-items')
#mars_weather = tweets.find('p', class_="tweet-text").text
#print(mars_weather)

twitter_url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(twitter_url)
soup = BeautifulSoup(response.text, 'lxml')
twitter = soup.find('div', class_='js-tweet-text-container').text
#weathertweet = twitter.find_all('')
print(twitter)

Sol 2270 (2018-12-25), high -5C/23F, low -75C/-102F, pressure at 8.35 hPa, daylight 06:41-18:53

In [38]:

facts_url = 'https://space-facts.com/mars'
response = requests.get(facts_url)
facts_soup = BeautifulSoup(response.text, 'lxml')
facts = facts_soup.find('table', class_= 'tablepress tablepress-id-mars').text

column1 = facts_soup.find_all('td', class_='column-1')
column2 = facts_soup.find_all('td', class_='column-2')
facets = []
values = []

for row in column1:
    facet = row.text.strip()
    facets.append(facet)
    
for row in column2:
    value = row.text.strip()
    values.append(value)
    
mars_facts = pd.DataFrame({
    "Facet":facets,
    "Value":values
    })

mars_facts_html = mars_facts.to_html(header=False, index=False)
mars_facts

                  Facet                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [39]:
c_image_url = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'
print(c_image_url)

s_image_url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
print(s_image_url)

sy_image_url = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'
print(sy_image_url)

v_image_url = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'
print(v_image_url)

https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg